.profile {
  display: flex;
  height: 400px;
  width: 100%;
  margin: 20px;
  max-width: 400px;
  align-items: center;
  background-image: #020207;
  background-color: #7474af;
  flex-direction: column;
}

